* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.app {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
}

.canvas {
    border: 3px solid red;
}

#inputText {
    width: 90%;
}

input[type=text] {
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }