* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.app {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
}

.canvas {
    border: 3px solid red;
}

#inputText {
    width: 90%;
}
#inputText1 {
    width: 90%;
}
#inputText2 {
    width: 90%;
    display: block;
}
#inputText3 {
    width: 90%;
}
#inputText4 {
    width: 90%;
}
#inputText5 {
    width: 90%;
}
#confirm{
    float: right; 
}
#confirm2{
    float: right; 
}
input[type=text] {
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
 #encryption {
    margin-top:20px;
    background-color: lightgrey;
    padding: 18px;
 }
 #decryption{
    margin-top:20px;
    margin-bottom:50px;
    background-color: rgb(233, 232, 232);
    padding: 18px;
 }